html {
    font-family: sans-serif;
}
* {
    padding:0;
    margin:0;
}



/*header*/
header {
    background-color: rgba(0,0,0,0.8);
    height:80px;
    width:100%;
    position:fixed;
}

h1 {
    color:white;
    position:absolute;
    left:0px;
    top:0;
    line-height: 80px;
    background-image:url(Images/Huex_logo.png);
    background-repeat:no-repeat;
    background-position:center;
    width:200px;
    text-indent:-9999px;
}

li {
    list-style-type:none;
}

.normal_list {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
.normal_list li {
    display:inline;
    margin-right:4vw;
}
.normal_list a {
    color:white;
    text-decoration: none;
    padding:10px 10px;
    /*
    border:1px solid #ACACAC;
    border-radius: 5px;
    */
}
.normal_list a:hover {
    background-color: #444;
}

.menu {
    display:none;
}

.menu:hover {
    background-color: #444;
}

.menu_button {
    display:flex;
}

.menu_button:hover .droplist{
    display:flex;
}

.droplist {
    position:absolute;
    right:0;
    top:44px;
    line-height:40px;
    width:80px;
    display:none;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.droplist li {
    background-color:#222;
}

.droplist a {
    color:white;
    text-decoration:none;
    padding:10px 10px;
    /*
    border:1px solid #ACACAC;
    border-radius: 5px;
    */
}
.droplist a:hover {
    background-color: #444;
}

/*intro*/
.intro {
    background-color: #222222;
    color:white;
    height:80px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}




/*Huex*/
.Huex {
    display:flex;
}
.Huex img {
    width:50%;
}
.Huex_info {
    width:50%;
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.Huex_info h2 {
    font-size:40px;
    margin-bottom:30px;
    color: white;
}
.Huex_info p {
    text-align:center;
    line-height:2em;
    color: white;
}



/*news*/
.news {
    background-color: white;
    color:white;
    height:75vh;
    background-image:url("Images/NavigatingBG.png");
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.news h2 {
    font-size:60px;
}
.news p {
    color:white;
    font-size:18px;
    margin:10px 0;
}
.news a {
    color:white;
    text-decoration: none;
    border:1px solid #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}

/*songs*/
.songs {
    display:flex;
    background-color:black;
    justify-content: space-between;
    align-items: center;
    padding:50px;
}
.songs a {
    color:white;
    text-decoration: none;
    border:1px solid white;
    padding:10px 20px;
    border-radius: 5px;
    line-height: 3.2em;
}
.songs div {
    width:15%;
    text-align: center;
}
.songs img {
    width:100%;
    border-radius: 10px;
}
.songs h3 {
    font-size:20px;
    color:white;
}
.songs p {
    font-size:14px;
    line-height:1.6em;
    color:white;
}

/*game*/
.game_intro {
    background-color: #222222;
    color:white;
    height:80px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.game_sub_intro {
    background-color: black;
    color:white;
    height:80px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.game_list {
    display:flex;
    background-color:black;
    justify-content: space-between;
    align-items: center;
    padding:50px 0px;
}

.game_list div {
    width:30%;
    text-align: center;
}

.game_list a {
    color:white;
    text-decoration: none;
    border:1px solid #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}

.game_list h2 {
    color:white;
    text-align:center;
}


/*footer*/
footer {
    background-color: #485652;
    color:#B7B7B7;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
}



/*适配屏幕*/
@media screen and (max-width:810px) {

header ul {
    display:none;
}
/*
header h1 {
    left:50%;
    transform:translateX(-50%);
}
*/

.menu {
    display:block;
    background-color: transparent;
    color:white;
    font-size:35px;
    position:absolute;
    top:15px;
    right:20px;
    border:none;
    cursor:pointer;
}

.Huex {
    flex-direction:column;
}
.Huex img {
    width:100%;
}
.Huex_info {
    width:100%;
    padding:40px 0;
}



.news h2 {
    font-size:40px;
}



.songs {
    flex-direction:column;
    padding:60px 0;
}
.songs div {
    width:50%;
    margin-bottom:30px;
}


.game_list {
    flex-direction:column;
    padding:60px 0px;
}
.game_list div {
    width:50%;
    margin-bottom:30px;
}

}



